<%# Monthly%>
    <div class="monthlyPage">

        <div id="categoriesTransferNames">
            <%= mcategories %>
        </div>
        <div id="categoriesTransferPrices">
            <%= mprices %>
        </div>
        <div id="categoriesTransferColours">
            <%= mcolours %>
        </div>
        <div id="categoriesIncomeTransferNames">
            <%= incomeCategories %>
        </div>
        <div id="categoriesIncomeTransferPrices">
            <%= incomePrices %>
        </div>
        <div id="categoriesIncomeTransferColours">
            <%= incomeColors %>
        </div>

        <div class="chart_edit" id="chart_edit">
            <canvas id="myChart"></canvas>

            <%# Does nothing for appearance but is a workaround for transfering serverside date to script %>


                <div class="labelInsidePieChart" id="labelInsidePieChart">
                    <p>Total Spent:</p>
                    <p>
                        <%= mspent %> Kr.
                    </p>

                </div>
                <div class="labelInsidePieChartIncome" id="labelInsidePieChartIncome" style="display: none;">
                    <p>Total Income:</p>
                    <p>
                        <%= incomeSpent %> Kr.
                    </p>
                </div>
        </div>

        <div class="chooseGraph">
            <%# Dropdown for choosing graph type%>
                <label for="graphs">Choose Graph</label>
                <select name="graphs" id="graphs" onchange="changeChart(this)">
                    <option value="expense">Expense Pie Chart</option>
                    <option value="income">Income Pie Chart</option>
                </select>
        </div>
        <script>
            //getting inner html and making it invisible
            //cat labels

            document.getElementById("categoriesTransferNames").style.display = "none";
            let transferedCats = document.getElementById("categoriesTransferNames").innerHTML;
            let catLabels = transferedCats.split(",");
            console.log(transferedCats);

            //cat prices

            document.getElementById("categoriesTransferPrices").style.display = "none";
            let transferedPrices = document.getElementById("categoriesTransferPrices").innerHTML;
            let catPrices = transferedPrices.split(",");
            console.log(transferedPrices);

            //cat colors

            document.getElementById("categoriesTransferColours").style.display = "none";
            let transferedColours = document.getElementById("categoriesTransferColours").innerHTML;
            let catColors = transferedColours.split(",");
            console.log(transferedColours);

            //income cat labels

            document.getElementById("categoriesIncomeTransferNames").style.display = "none";
            let transferedIncomeCats = document.getElementById("categoriesIncomeTransferNames").innerHTML;
            let catIncomeLabels = transferedIncomeCats.split(",");
            console.log(transferedIncomeCats);

            //income cat prices

            document.getElementById("categoriesIncomeTransferPrices").style.display = "none";
            let transferedIncomePrices = document.getElementById("categoriesIncomeTransferPrices").innerHTML;
            let catIncomePrices = transferedIncomePrices.split(",");
            console.log(transferedIncomePrices);

            //income cat colors

            document.getElementById("categoriesIncomeTransferColours").style.display = "none";
            let transferedIncomeColours = document.getElementById("categoriesIncomeTransferColours").innerHTML;
            let catIncomeColors = transferedIncomeColours.split(",");
            console.log(transferedIncomeColours);


            const data = {
                labels: catLabels,
                datasets: [{
                    data: catPrices,
                    backgroundColor: catColors,
                }]
            };

            const data1 = {
                labels: catIncomeLabels,
                datasets: [{
                    data: catIncomePrices,
                    backgroundColor: catIncomeColors,
                }]
            };

            // config for dougnut chart
            const config = {
                type: 'doughnut',
                data: data,
                options: {
                    title: {
                        display: true,
                        text: 'EXPENSES'
                    }
                }
            };

            //config for bar chart
            const config1 = {
                type: 'doughnut',
                data: data1,
                options: {
                    title: {
                        display: true,
                        text: 'INCOME'
                    }
                }
            }

            // render init block
            let myChart = new Chart(
                document.getElementById('myChart'),
                config
            );

            function changeChart(chartType) {
                myChart.destroy();

                document.getElementById("chart_edit").style.marginBottom = "11.1%";

                if (chartType.value === 'expense') {
                    document.getElementById("labelInsidePieChart").style.display = "block";
                    document.getElementById("labelInsidePieChartIncome").style.display = "none";
                    myChart = new Chart(
                        document.getElementById('myChart'),
                        config
                    )
                    //add margin to the chart
                }

                if (chartType.value === 'income') {
                    document.getElementById("labelInsidePieChart").style.display = "none";
                    document.getElementById("labelInsidePieChartIncome").style.display = "block";
                    myChart = new Chart(
                        document.getElementById('myChart'),
                        config1
                    )
                }
            }
        </script>
    </div>
    <%# Monthly%>