<%- include ("partials/header.ejs") %>
<body>
  <%- include ("partials/sidebar.ejs") %>
  <div class="addBudgetPage">
    <h1>Edit Budget: <br> <%= budget.category %></h1>

    <%# Form to add/create budget %>
    <form action="/budget/<%= budget._id %>/edit" method="POST">
      <%# Categories %>
      <div class="categoriesCheckbox">
          <label for="categoriesCheckbox">Category</label>
          <input class="basicInput" type="text" name="category" id="category" value="<%= budget.category %>" required>
      </div>
      <%# Expected %>
      <div class="expectedInput">
          <label for="expectedInput">Expected</label>
          <input class="basicInput" type="number" name="expected" id="expected" value="<%= budget.expected %>" required>
      </div>
      <%# Colour %>
      <div>
        <label for="colourInput">Colour</label>
        <input class="colourInput" type="color" name="colourInput" id="colourInput" value="<%= budget.colourInput %>" required>
      </div>

      <button class="submitBudget" type="submit">Submit</button>
    </form>
  </div>
</body>
</html>