<%- include ("partials/header.ejs") %>
  <body>
    <%- include ("partials/sidebar.ejs") %>
    <div class="budgetPage">
      <h1>Budget</h1>

      <%# the button at the top %>
      <div class="addBudget">
        <a href="/budget/add"><button class="addBudgetBut">Add Budget/Create Category</button></a>
      </div>

      <%# total amounts %>
      <div class="totalAmountBox">
        <div class="totalAmountSpent">
          <p class="totalAmount">Total Spent:</p>
          <div class="totalSpentBox"> 
            <% if(totalSpent < 0){ %>
              <p class="numTotal" id="spentRed"> <%= totalSpent %></p>
              <% } else{ %>  
              <p class="numTotal" id="spentGreen"> +<%= totalSpent%></p>
              <% } %>
              <p class="numTotalKr">Kr.</p>
          </div>
        </div>
        <div class="totalAmountRemaining">
          <p class="totalAmount">Total Remaining:</p>
            <div class="totalRemainingBox">
              <% if(totalRemaining < 0){ %>
              <p class="numTotal" id="remainingRed"> <%= totalRemaining %></p>
              <% } else{ %>  
              <p class="numTotal" id="remainingGreen"> +<%= totalRemaining %></p>
              <% } %>
              <p class="numTotalKr">Kr.</p>
            </div>
          </div>
      </div>

      <%# Showing the labels %>
        <div class="budgetLabels">
            <p class="category">Category</p>
            <p class="expected">Expected</p>
            <p class="spent">Spent</p>
            <p class="remaining">Remaining</p>
        </div>
      
      <%# Showing the budget in the table %>
      <% for (let i = 0; i<categories.length; i++){ %> 
        <div class="budgetTable">
          <div class="budgetInsideTable">
            <p class="budgetCategory"><%= categories[i].category %></p>
            <div class="KrInline">
              <p class="budgetExpected"><%= categories[i].expected %></p>
              <p class="Kr">Kr.</p>
            </div>
            <div class="KrInline">
              <% if(categories[i].category.toLowerCase() === 'income'){ %>
                <p class="budgetRemaining" id="spentTableGreen"> +<%= categories[i].spent %></p>
                <p class="Kr">Kr.</p>
                <% } else{ %>  
                <p class="budgetRemaining" id="spentTableRed"> -<%= categories[i].spent %></p>
                <p class="Kr">Kr.</p>
                <% } %>
            </div>
            <div class="KrInline">
              <% if(categories[i].remaining < 0){ %>
              <p class="budgetRemaining" id="remainingTableRed"> <%= categories[i].remaining %></p>
              <p class="Kr">Kr.</p>
              <% } else{ %>  
              <p class="budgetRemaining" id="remainingTableGreen"> +<%= categories[i].remaining %></p>
              <p class="Kr">Kr.</p>
              <% } %>
            </div>
          </div>
          <div class="editBudgetBox">
            <button class="editBudget">Expected Edit</button>
            <button class="deleteBudget">Delete</button>
          </div>
        </div>
      <% } %> 
    </div>
  </body>
</html>