<%- include ("partials/header.ejs") %>
<body>
  <%- include ("partials/sidebar.ejs") %>
  
  <div class="addBudgetPage">
    <h1>Edit Budget: <br> <%= budget.category %></h1>

    <%# Form to add/create budget %>
    <form action="/budget/<%= budget._id %>/edit" method="POST">
      <%# Categories %>
      <h2 class="headers" id="income">
        <div class="tooltip" id="expected">Income Category
          <span class="tooltiptext">make the category to an income</span>
        </div>
      </h2>
      <h2 class="headers" id="expense">
        <div class="tooltip" id="expected">Expense Category
          <span class="tooltiptext">make the category to an expense</span>
        </div>
      </h2>
      <%# Toggle switch %> 
      <div class="switchBox">
        <label class="switch">
          <% if (budget.income){ %> 
          <input checked type="checkbox" onclick="sliderToggle()" id="checkBoxSlider" name="i">
          <% } else{ %>
            <input type="checkbox" onclick="sliderToggle()" id="checkBoxSlider" name="i">
            <% } %> 
            <span class="slider round"></span> 
        </label>
      </div>
      <input type="text" id="toggleValue" name="income" value="false" style="display: none;">
      <div class="categoriesCheckbox">
          <label for="categoriesCheckbox">
            <div class="tooltip" id="expected">Category
              <span class="tooltiptext">name of the new category</span>
            </div>
          </label>
          <input maxlength="20" class="basicInput" type="text" name="category" id="category" value="<%= budget.category %>" required>
      </div>
      <%# Expected %>
      <div class="expectedInput">
          <label for="expectedInput">
            <div class="tooltip" id="expected">Expected
              <span class="tooltiptext">amount of the expected spentage</span>
            </div>
          </label>
          <input class="basicInput" type="number" name="expected" id="expected" value="<%= budget.expected %>" required>
      </div>
      <%# Colour %>
      <div>
        <label for="colourInput">
          <div class="tooltip" id="expected">Colour
            <span class="tooltiptext">select the colour of the new category</span>
          </div>
        </label>
        <input class="colourInput" type="color" name="colourInput" id="colourInput" value="<%= budget.colourInput %>" required>
      </div>

      <%# Old category name this is invisible %>
      <input type="text" name="old" id="old" value="<%= budget.category %>" style="display: none;">
      
      <button class="submitBudget" type="submit" id="sumbitBtn">Submit</button>
    </form>
  </div>

  <script>
    document.getElementById('sumbitBtn').addEventListener('click', loadFunction);
    function loadFunction() {
      location.pathname='http://localhost:3000/budget';
    }
  </script>
  <script>
    
    let toggle = false;

    if (document.getElementById("checkBoxSlider").checked) {
      document.getElementById("expense").style.display = "none";
      document.getElementById("income").style.display = "block";
      document.getElementById("toggleValue").value = "true";
      console.log(document.getElementById("toggleValue").value);
      toggle = true;
    }
    else{
      document.getElementById("expense").style.display = "block";
      document.getElementById("income").style.display = "none";
      document.getElementById("toggleValue").value = "false";
      console.log(document.getElementById("toggleValue").value);
      toggle = false;
    }

    function sliderToggle() {
      toggle = !toggle;
    
        if (!toggle) {
          document.getElementById("toggleValue").value = "false";
          document.getElementById("expense").style.display = "block";
          document.getElementById("income").style.display = "none";
          
        } else {
          
          document.getElementById("toggleValue").value = "true";
          document.getElementById("expense").style.display = "none";
          document.getElementById("income").style.display = "block";

        }
        console.log(document.getElementById("toggleValue").value);
} 
  </script>

</body>
</html>