<%- include ("partials/header.ejs") %>
<body>
  <%- include ("partials/sidebar.ejs") %>

    <div class="budgetPage">
      <h1>Budget</h1>

        <%# add budget %>
        <div class="addBudget">
          <a href="/budget/add"><button class="addBudgetBut">Add Budget/Create Category</button></a>
        </div>
        
      <div class="topOfPage">
        <div class="buttonAndTotalTable">
          <%# Total Table %>
          <table class="totalTable">

            <tr>
              <th>Total Expected:</th>
              <% if(totalExpected > totalIncome){ %>
                <td class="neg"><%= totalExpected %></td>
                <td class="valuta">kr.</td>
                <% } else{ %>
                    
                <td class="pos"><%= totalExpected %></td>
                <td class="valuta">kr.</td>
              <% } %>
            </tr>
            <tr>
              <th>Total Income:</th>
                <td class="pos">+<%= totalIncome %></td>
                <td class="valuta">kr.</td>
            </tr>
            <tr>
              <th>Total Spent:</th>
                <td class="neg">-<%= totalSpent %></td>
                <td class="valuta">kr.</td>
            </tr>
            <tr>
              <th>Total Remaining:</th>
                <% if(totalRemaining < 0){ %>
                <td class="neg"><%= totalRemaining %></td>
                <td class="valuta">kr.</td>
                <% } else{ %>
                  
                <td class="pos">+<%= totalRemaining %></td>
                <td class="valuta">kr.</td>
                  <% } %>
            </tr>
            <tr>
              <th>% of income:</th>
              <% if(procentOfIncome > 100){ %>
                <td class="neg"><%= procentOfIncome %></td>
                <td class="valuta">%</td>
                <% } else{ %>
                <td class="pos"><%= procentOfIncome %></td>
                <td class="valuta">%</td>
                  <% } %>
            </tr>
            <tr>
              <th>% of expected:</th>
              <% if(procentOfExpected > 100){ %>
                <td class="neg"><%= procentOfExpected %></td>
                <td class="valuta">%</td>
                <% } else{ %>
                <td class="pos"><%= procentOfExpected %></td>
                <td class="valuta">%</td>
                  <% } %>
            </tr>
          
          </table>
        </div>  

      <div class="recommendedBudgetBox">
        <table class="recommendedBudgetTable">
          <tr>
            <th></th>
            <% for( let i = 0; i < prefixed.length; i++ ) { %>
              <th> <%= prefixed[i].prefixed %> </th>      
            <% } %>
          </tr>
          <tr>
            <th class="headersLeft">Rec. Amount</th>
            <% for( let i = 0; i < prefixed.length; i++ ) { %>
              <% if (prefixed[i].low == prefixed[i].high) { %>
                <td> <%= prefixed[i].low %> KR.</td>
              <% } else { %>
                <td> <%= prefixed[i].low %> - <%= prefixed[i].high %> KR.</td>
                <% } %>
            <% } %>
          </tr>
          <tr>
            <th class="headersLeft">Your Amount</th>
            <% for( let i = 0; i < prefixedSpentArr.length; i++ ) { %>
              <td><%= prefixedSpentArr[i].expenseSpent %> Kr.</td>
            <% } %>
          </tr>
          <tr>
            <th class="headersLeft">Deviation</th>
            <% for( let i = 0; i < prefixedSpentArr.length; i++ ) { %>
              <% if (prefixedSpentArr[i].expenseProcentage > prefixed[i].highP) { %>
                <td class="neg"> <%= prefixedSpentArr[i].expenseProcentage %> %</td>
              <% } else { %>
                <td class="pos"> <%= prefixedSpentArr[i].expenseProcentage %> %</td>
                <% } %>
            <% } %>
          </tr>
        </table>
      </div>
    </div>

    
      <%# Showing the labels %>
        <div class="budgetLabels">
            <p class="category">Category</p>
            <p class="expected">Expected</p>
            <p class="spent">Spent</p>
            <p class="remaining">Remaining</p>
        </div>
      
      <%# Showing the budget in the table %>
      <% for (let i = 0; i < budgetData.length; i++){ %> 

        <% if (budgetData[i].income != true && !budgetData[i].category.toLowerCase().includes('savings')){ %> 
        <div class="budgetTable">
            <div class="budgetInsideTable">
              <p class="budgetCategory"><%= budgetData[i].category %></p>
              <div class="KrInline">
                  <p class="budgetExpected"><%= budgetData[i].expected %></p>
                  <p class="Kr">Kr.</p>
              </div>
              <div class="KrInline">
                <% if(budgetData[i].category.toLowerCase() === 'income'){ %>
                  <p class="budgetRemaining" id="spentTableGreen"> +<%= budgetData[i].spent %></p>
                  <p class="Kr">Kr.</p>
                  <% } else{ %>  
                  <p class="budgetRemaining" id="spentTableRed"> -<%= budgetData[i].spent %></p>
                  <p class="Kr">Kr.</p>
                  <% } %>
              </div>
              <div class="KrInline">
                <% if(budgetData[i].remaining < 0){ %>
                <p class="budgetRemaining" id="remainingTableRed"> <%= budgetData[i].remaining %></p>
                <p class="Kr">Kr.</p>
                <% } else{ %>  
                <p class="budgetRemaining" id="remainingTableGreen"> +<%= budgetData[i].remaining %></p>
                <p class="Kr">Kr.</p>
                <% } %>
              </div>
            </div>

            <div class="editBudgetBoxParent">
              <div class="editBudgetBox">
                <a href="/budget/<%= budgetData[i]._id %>/edit"><button class="editBudget">Edit</button></a>
                <form method="POST" action="/budget/<%= budgetData[i]._id %>/delete">
                <button class="deleteBudget">Delete</button>
                </form>
              </div>
            </div>
          </div>
        <% } %> 
      <% } %> 
      
    </div>

  </body>
</html>