<%- include ("partials/header.ejs") %>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>

    <body>
        <%- include ("partials/sidebar.ejs") %>
        <div class="monthlyPage">
            <h1>Monthly Overview</h1>
            <div class="chooseGraph">
            <%# Dropdown for choosing graph type%>
                <label for="graphs">Choose Graph</label>
                <select name="graphs" id="graphs" onchange="changeChart(this)">
                    <option value="doughnut">Pie Chart</option>
                    <option value="bar">Bar Chart</option>
                </select>
            </div>
        </div>
            
        <div class ="chart_edit">
            <canvas id="myChart"></canvas>
            <%# Does nothing for appearance but is a workaround for transfering serverside date to script %> 
            <div id="categoriesTransferNames" ><%= categories %></div>
            <div id="categoriesTransferPrices" ><%= prices %></div>
            <div id="categoriesTransferColours" ><%= colours %></div>
            <div class="labelInsidePieChart">
                <p>Total Spent:</p> 
                <p> <%= spent %>  Kr.</p>
            </div>
            <script>

                    //getting inner html and making it invisible
                    //cat labels
                    document.getElementById("categoriesTransferNames").style.display = "none"
                    let transferedCats = document.getElementById("categoriesTransferNames").innerHTML;
                    let catLabels = transferedCats.split(",")
                    console.log(transferedCats);

                    //cat prices
                    document.getElementById("categoriesTransferPrices").style.display = "none"
                    let transferedPrices = document.getElementById("categoriesTransferPrices").innerHTML;
                    let catPrices = transferedPrices.split(",")
                    console.log(transferedPrices);
                    
                    //cat colors
                    document.getElementById("categoriesTransferColours").style.display = "none"
                    let transferedColours = document.getElementById("categoriesTransferColours").innerHTML;
                    let catColors = transferedColours.split(",")
                    console.log(transferedColours);



                const data = {
                    labels: catLabels,
                    datasets: [{
                        label: 'Expenses',
                        data: catPrices,
                        backgroundColor: catColors,
                    }]
                };

                // config for dougnut chart
                const config = {
                    type: 'doughnut',
                    data,
                    options: {
                    }
                };

                //config for bar chart
                const config1 = {
                    type: 'bar',
                    data,
                    options: {
                        scales: {
                        y: {
                            beginAtZero: true
                        }
                        }
                    }
                };

                // render init block
                let myChart = new Chart(
                document.getElementById('myChart'),
                config
                );

                function changeChart(chartType){
                    myChart.destroy();

                    if (chartType.value === 'doughnut'){
                        myChart = new Chart(
                            document.getElementById('myChart'),
                            config
                        )
                    }

                    if (chartType.value === 'bar'){
                        myChart = new Chart(
                            document.getElementById('myChart'),
                            config1
                        )
                    }
                }
            </script>
        </div>
    </body>
</html>