<%- include ("partials/header.ejs") %>
    <body>
        <%- include ("partials/sidebar.ejs") %>
        <div class="savingsPage">
            <h1>Savings Goals</h1>
            

            <!-- Add savings goal button -->
            <a href="/savings/add"><button class="addSavingsBut">Add Savings Goal</button></a>

            <br>
            <br>


            <!-- Savings goals labels -->
            <div class="SGLabels">
                <p class="sa">Name</p>
                <p class="sb">Amount</p>
                <p class="sc">Expected per month</p>
                <p class="sd">Estimated Time</p>
                <p class="se">Progress percentage</p>
            </div>

            <!-- Savings goals list -->
            <% for (s of sg){ %> 
            <div class="SGButGrid">
                <div class="outerSG">

                    <!-- Calculate progress percentage -->
                    <% var progressPercentage = (s.progress / s.amount) * 100 %>

                    <!-- Calculate estimated time from monthly and amonut -->
                    <% var estimatedTime = s.amount / s.epm %>

                    <div class="SGImg">
                        <h2 class="emoji" ><%= s.img %></h2>
                    </div>
                    <div class="SGDataOuter">
                        <div class="SGText">
                            <p><%= s.name %> </p>
                            <p><%= s.amount %> kr</p>
                            <p><%= s.epm %> kr</p>
                            <p><%= estimatedTime.toFixed(1) %> m</p>
                            <p><%= progressPercentage.toFixed(1) %> %</p>
                        </div>
                        <!-- set the colour of the progress bar to s.colourInput -->
                        <progress value="<%= s.progress %>" max="<%= s.amount %>"></progress>
                    </div> 
                </div>
                <div class="tileButtons">
                    <span></span>
                    <a href="/savings/<%= s._id %>/edit"><button class="edit">Edit</button></a>
                    <form method="POST" action="/savings/<%= s._id %>/delete">
                        <button class="delete">Delete</button>
                    </form>
                </div>
            </div>
            <br>
            <% } %>
        </div>  
    </body>