<%- include ("partials/header.ejs") %>
<body>
    <%- include ("partials/sidebar.ejs") %> 
    <div class="transactionPageAdd">
    <h1>Add a new expense transaction</h1>

    
    <%# Showing all categories provided in transactions.ejs %>
    <form action="/transactions/add" method="post">
        <label class="labelBig" for="mainCategory">Choose Category</label>
        <div class="TAddExpenseCatGrid">
                <!-- Expense -->
                <div class="TAddExpense">
                    <h5 class="radioLabelExpense">Expense</h4>
                        <div class="TAddExpenseCheckBoxParent">
                            <% for (let i = 0; i<categories.length; i++){ %> 
                                
                                <% if (!categories[i].toLowerCase().includes("saving")){ %> 
                                <div class="TAddExpenseCheckBox">
                                    <label class="TAddExpenseCatLabel" for="category>"><%= categories[i] %></label>

                                        <input type="radio" name="mainCategory" id="mainCategory>" value="<%= categories[i] %>" required>
                                </div>
                                <% } %> 
                            <% } %> 
                        </div>
                </div>
                <!-- Savings -->
                <div class="TAddSavings">
                    <h5 class="radioLabelExpense" >Savings Goal</h4>
                        <div class="TAddExpenseCheckBoxParent">
                            <% for (let i = 0; i<categories.length; i++){ %> 
                                
                                <% if (categories[i].toLowerCase().includes("saving")){ %> 
                                <div class="TAddExpenseCheckBox">
                                    <label class="TAddExpenseCatLabel" for="category>"><%= categories[i] %></label>
                                        <input type="radio" name="mainCategory" id="mainCategory>" value="<%= categories[i] %>" required>
                                </div>
                                <% } %> 
                            <% } %> 
                        </div>
                </div>
            </div>
        <%# sub category%>
        <div class="subCatForm">
            <label class="labelBig" for="subCategory">
                <div class="tooltip">subCategory
                    <span class="tooltiptext">more specific tag for transaction</span> 
                </div>
            </label>
            <input maxlength="20" type="text" name="subCategory" id="subCategory">
        </div>
        <%# price%>
        <div class="priceForm">
            <label class="labelBig" for="price">
                <div class="tooltip">Amount
                    <span class="tooltiptext">amount of transaction</span> 
                </div>
            </label>
            <input type="number" name="price" id="price" required>
        </div>
        <div class="dateForm">
            <label class="labelBig" for="date">
                <div class="tooltip">Date
                    <span class="tooltiptext">date of when the transaction was made</span> 
                </div>
            </label>
            <input type="date" name="date" id="date" required>
        </div>
        
        <button class="submit" type="submit">Submit</button>
    </form>
    </div>

    <script>
  
        //set default value to day of today
            //https://stackoverflow.com/questions/6982692/how-to-set-input-type-dates-default-value-to-today
        document.getElementById('date').valueAsDate = new Date();

    </script>
    
</body>
</html>