<%- include ("partials/header.ejs") %>
<body>
    <%- include ("partials/sidebar.ejs") %>
    <div class="transactionPage">
        <h1>Transaction overview</h1>
            <div class="chooseStuff">
                <%# Dropdown for choosing category%>
                    <div class="chooseCategory">
                    <%# the variable "categories" comes is a variable rendered with the transactions view (transactions.js)%>
                        <select name="categories" id="categories">
                            <option value="allCategories">All Categories</option> 
                            <% for (let i = 0; i<categories.length; i++) { %>
                                <option value= <%= categories[i] %>><%= categories[i] %> </option>   
                            <% } %>    
                        </select>
                    </div>

            <%# For choosing time period of transactions%>
                <div class="chooseTime">
                    <label for="dateFrom">From</label>
                    <input type="date" id="dateFrom" name="dateFrom">
                    <label for="dateTo">To</label>
                    <input type="date" id="dateTo" name="dateTo">
                </div>
            </div>

    
        <%# Display all transactions%>
            <div class="tileLabels">
                <p class="type">Type</p>
                <p class="tprice">Price</p>
                <p class="editDelete">Edit/delete</p>

            </div>

        <% for (let j = 0; j<allTransactions.length; j++){ %> 
        <div class="transactionTileOuter">
        <div class="transactionTile">
            <div class="tileTitles">
                <p class="tileMain"><%= allTransactions[j].main %> - <%= allTransactions[j].date %>  </p>
                <p class="tileSub"><%= allTransactions[j].sub %> </p>
            </div>
            <p class="price">Price: <%= allTransactions[j].price %> </p>
        </div>       
        <div class="tileButtons">
            <button class="edit">Edit</button>
            <button class="delete">Delete</button>
        </div>
        </div>
        
        
        <% } %> 

        

    </div>

    
</body>
</html>