<%- include ("partials/header.ejs") %>
<body>
    <%- include ("partials/sidebar.ejs") %> 
    <div class="transactionPage">
        <h1>Transaction overview</h1>
            <div class="chooseStuff">
                <%# Dropdown for choosing category%> 
                    <div class="chooseCategory">
                    <%# the variable "categories" comes is a variable rendered with the transactions view (transactions.js)%>
                    <label for="categories">Choose category</label>
                        <form action="/transactions/categories" name="categories" method="post">
                        <select name="categories" id="categories" onchange="this.form.submit()">
                            <option value="AllCategories">AllCategories</option> 
                            <% for (let i = 0; i<categories.length; i++) { %>
                                    <% if (currentCategory == categories[i]){ %>
                                        <option selected value=<%= categories[i] %>><%= categories[i] %></option>   
                                    <% } else {%>  
                                <option value=<%= categories[i] %>><%= categories[i] %></option>
                                <% } %>    
                            <% } %>    
                        </select>
                        </form>
                    </div>

            <%# For choosing time period of transactions%>
                <div class="chooseTime">
                    <label for="dateFrom" for="dateTo">Choose date (Start - End)</label>
                    <input type="date" id="dateFrom" name="dateFrom">
                    <input type="date" id="dateTo" name="dateTo">
                </div>
                <a href="/transactions/add"><button class="addTransBut">Add Transaction</button></a>
            </div>

    
            
         
        <%# function for converting ugly date to pretty date. This can be implemented in controller %>
            <% function dateToString(date) {
                var d = new Date(date);
                var day = d.getDate();
                var month = d.getMonth() + 1;
                var year = d.getFullYear();
                return day + "/" + month + "/" + year;
            } %> 

        <%# All transactions is stated in transactions.js route %>
        <% if (allTransactions.length > 0){ %> 
            <div class="tileLabels">
                <p class="type">Type</p>
                <p class="tprice">Price</p>
                <p class="editDelete">Edit/delete</p>
            </div>

        <% for (let j = 0; j<allTransactions.length; j++){ %> 
        <div class="transactionTileOuter">
            <div class="transactionTile">
                <div class="tileTitles">
                    <p class="tileMain"><%= allTransactions[j].mainCategory %> - <%= dateToString(allTransactions[j].date) %>  </p>
                    <p class="tileSub"><%= allTransactions[j].subCategory %> </p>
                </div>
                <%# Makes category of income green and everything else red. This is done by two seperate classes: priceNeg and pricePos %> 
                <% if (allTransactions[j].mainCategory != "Income") {%> 
                    <p class="priceNeg">- <%= allTransactions[j].price %></p>
                <% } else {%> 
                    <p class="pricePos">+ <%= allTransactions[j].price %></p>
                <% } %> 
            </div>       
                <div class="tileButtons">
                    <span></span>
                    <a href="/transactions/edit/<%= allTransactions[j]._id %>"><button class="edit">Edit</button></a>
                    <form method="POST" action="/transactions/<%= allTransactions[j]._id %>/delete">
                        <button class="delete">Delete</button>
                    </form>
                </div>
        </div>
        <% } %> 
        <% } else{ %>
            <div class="transactionTileOuter">
                    <p class="noTrans">No Transactions</p>
            </div>
            <% } %> 
      
        


    </div>


</body>
</html>