<%- include ("partials/header.ejs") %>
<body>
    <%- include ("partials/sidebar.ejs") %> 
    <div class="transactionPageUpdate">
    <h1>Update Transaction: <%= transaction.mainCategory %></h1>

    
    <%# Showing all categories provided in transactions.ejs %>
    <form action="/transactions/edit/<%= transaction._id %> " method="post">
        <label class="Titles" for="mainCategory">Choose Category</label>

        <div class="TUpdateCatGrid">
        <!-- Income -->
            <div class="TUpdateIncome">
                <h5>Income</h4>
                <div class="TUpdateCheckBoxParent" >
                    <% for (let i = 0; i<categories.length; i++){ %> 
                        
                        <% if (categories[i].income){ %> 
                        <div class="TUpdateCheckBox">
                            <label class="TUpdateCatLabel" for="category>"><%= categories[i].category %></label>
                            <% if (transaction.mainCategory == categories[i].category) {%> 
                                <input checked type="radio" name="mainCategory" id="mainCategory>" value="<%= categories[i].category%>" required>
                            <% }else{ %> 
                                <input type="radio" name="mainCategory" id="mainCategory>" value="<%= categories[i].category%>" required>
                                <% } %>
                        </div>
                        <% } %> 
                    <% } %> 
                </div>
            </div>
            <!-- Expense -->
            <div class="TUpdateExpense">
                <h5>Expense</h4>
                    <div class="TUpdateCheckBoxParent">
                        <% for (let i = 0; i<categories.length; i++){ %> 
                            
                            <% if (!categories[i].income && !categories[i].category.toLowerCase().includes("saving")){ %> 
                            <div class="TUpdateCheckBox">
                                <label class="TUpdateCatLabel" for="category>"><%= categories[i].category %></label>
                                <% if (transaction.mainCategory == categories[i].category) {%> 
                                    <input checked type="radio" name="mainCategory" id="mainCategory>" value="<%= categories[i].category%>" required>
                                <% }else{ %> 
                                    <input type="radio" name="mainCategory" id="mainCategory>" value="<%= categories[i].category%>" required>
                                    <% } %>
                            </div>
                            <% } %> 
                        <% } %> 
                    </div>
            </div>
            <!-- Savings -->
            <div class="TUpdateSavings">
                <h5>Savings Goal</h4>
                    <div class="TUpdateCheckBoxParent">
                        <% for (let i = 0; i<categories.length; i++){ %> 
                            
                            <% if (!categories[i].income && categories[i].category.toLowerCase().includes("saving")){ %> 
                            <div class="TUpdateCheckBox">
                                <label class="TUpdateCatLabel" for="category>"><%= categories[i].category %></label>
                                <% if (transaction.mainCategory == categories[i].category) {%> 
                                    <input checked type="radio" name="mainCategory" id="mainCategory>" value="<%= categories[i].category%>" required>
                                <% }else{ %> 
                                    <input type="radio" name="mainCategory" id="mainCategory>" value="<%= categories[i].category%>" required>
                                    <% } %>
                            </div>
                            <% } %> 
                        <% } %> 
                    </div>
            </div>
        </div>
        <%# sub category%>
        <div class="subCatForm">
            <label class="Titles" for="subCategory">
                <div class="tooltip">subCategory
                    <span class="tooltiptext">more specific tag for transaction</span> 
                </div>
            </label>
            <input maxlength="20" type="text" name="subCategory" id="subCategory" value="<%= transaction.subCategory %>">
        </div>
        <%# price%>
        <div class="priceForm">
            <label class="Titles" for="price">
                <div class="tooltip">Amount
                    <span class="tooltiptext">amount of transaction</span> 
                </div>
            </label>
            <input type="number" name="price" id="price" value="<%= transaction.price %>" required>
        </div>
        <div class="dateForm">
            <label class="Titles" for="date">
                <div class="tooltip">Date
                    <span class="tooltiptext">date of when the transaction was made</span> 
                </div>
            </label>
            <input type="date" name="date" id="date" required value="<%= transaction.date %>">
        </div>
        
        <button class="submit" type="submit">Submit</button>
    </form>
    </div>
            <!-- convert date to YYYY-MM-DD -->
            <p id="dateInvisible" style="display: none;"><%= transaction.date %> </p>
    <script>
        var date = new Date(document.getElementById("dateInvisible").innerHTML);
        console.log(date);
        var day = date.getDate();
        if (day < 10) {
            day = "0" + day;
        }

        var month = date.getMonth() + 1;

        if ( month < 10) {
            month = "0" + month;
        }
        var year = date.getFullYear();
        var dateString = year + "-" + month + "-" + day;
        console.log(dateString);
        document.getElementById("date").value = dateString;
    </script>
    
</body>
</html>